{{!-- blog card here to view preview on home page --}}
{{!-- for loop: posts each blog title by specific user with link to view blog --}}
{{!-- {{#each userBlogs as |userBlog|}}
    <a href="/{{userBlogs.username}}/{{userBlog.id}}">
        <h2>{{userBlog.title}}</h2>
    </a>
{{/each}} --}}