<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <h1>Welcome, Tiny Techie!</h1>
    </header>
    <nav>
        <button><a href="/">Home</a></button>
        {{#if loggedIn}}
        <button id="logout">Log Out</button>
        {{else}}
        <button id="login"><a href="/login">Log In</a></button>
        {{/if}}
    </nav>
    <main>
        {{body}}
    </main>
    {{#if loggedIn}}
    <script src="./js/logout.js"></script>
    {{/id}}
    <footer>Thank you for your contributions!</footer>
</body>
</html>