{{!-- first route User.findOne() --}}
{{!-- displays edit/delete when user ID matches page --}}
{{!-- {{#if userId === blog.user.id}} --}}
<section>
    <button class="btn" id="edit-blog">Edit</button>
    <button class="btn" id="delete-blog">Delete</button>
</section>
{{!-- {{/if}} --}}
{{!-- displays one full blog --}}
<section class="blog-post">
    <div class="blog-details">
        <h3>{{blog.title}}</h3>
        <p>By: {{blog.user.username}}</p>
        <p>{{format_time blog.date_created}}</p>
        <p>{{blog.text_content}}</p>
    </div>
</section>
<section class="comments">
    {{!-- NEED TO ADD COMMENTS SECTION --}}
    {{!-- 1. ADJUST ROUTES TO INCLUDE COMMENTS --}}
    {{!-- 2. LOG BLOG WITH HANDLEBARS --}}
    {{!-- 3. EXTRACT COMMENT DATA VIA HANDLEBARS TO VIEW --}}
    {{!-- {{#each}} --}}
    <div>
        <p id="comment-username"></p>
        <p id="comment-text"></p>
    </div>
    {{!-- {{/each}} --}}
</section>