<section>
    <div class="blog-details">
        <h3>{{user.blog.title}}</h3>
        <p>Author: {{user.username}}</p>
        <p>Published on: {{user.blog.date_created}}</p>
        <p>{{user.blog.text_content}}</p>
    </div>
</section>