:root {
    /* Horizontal Blues palette by shellybean86 https://www.colourlovers.com/palette/4901956/Horizontal_Blues */
    --class-one-blue: #254375;
    --blue-jay: #265485;
    --antique-flair: #306295;
    --sky-mountain: #4A7AA2;
    --vinyl-floor: #869FB5;
}

body {
    background-color: var(--sky-mountain);
    color: whitesmoke;
    line-height: 1.5em;
}

header,
header p,
footer {
    text-align: center;
    background-color: var(--class-one-blue);
    color: var(--vinyl-floor);
    padding: 2%;

}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: large;
    padding: 1%;
}

h3 {
    font-size: medium;
}

nav {
    background-color: var(--blue-jay);
    /* text-align: center; */
    padding: 2%;
}

.btn {
    background-color: wheat;
    color: var(--sky-mountain);
    border: 0;
    border-radius: 10%;
    cursor: pointer;
    padding: 1%;
}

a:link {
    text-decoration: none;
}

/* .btn a:link,
.btn a:visited,
.btn a:hover,
.btn a:active {
    text-decoration: none;
} */

.blog-home,
.blog-post,
.comments,
.add-comment,
.add-blog,
.my-blogs {
    padding: 4%;
}

h3 {
    color: var(--class-one-blue);
}

p {
    color: wheat;
}

hr {
    border: 1px dashed #bbb;
    margin-top: 1em;
    margin-bottom: 1em;
}

[contenteditable] {
    padding-top: 2%;
}

.buttons {
    display: flex;
    justify-content: space-around;
}